<div *ngIf="user">
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div class="modal-header">
      <h2 id="myUserLabel">Modification de : {{user!.login}}</h2>
    </div>

    <div class="modal-body" *ngIf="user">

      <div class="form-group" [hidden]="!user.id">
        <label jhiTranslate="global.field.id">ID</label>
        <input type="text" nbInput status="primary" size="small" fullWidth
               formControlName="id" readonly />
      </div>

      <div class="form-group">
        <label class="form-control-label" jhiTranslate="userManagement.login">Login</label>
        <input type="text" nbInput status="primary" size="small" fullWidth
               formControlName="login" />

        <div *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="editForm.get('login')?.errors?.maxlength"
            jhiTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 50 }"
          >
            This field cannot be longer than 50 characters.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="editForm.get('login')?.errors?.pattern"
            jhiTranslate="entity.validation.patternLogin"
          >
            This field can only contain letters, digits and e-mail addresses.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" jhiTranslate="userManagement.firstName">First Name</label>
        <input type="text" nbInput status="primary" size="small" fullWidth
               formControlName="firstName" />

        <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('firstName')?.errors?.maxlength"
            jhiTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 50 }"
          >
            This field cannot be longer than 50 characters.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label jhiTranslate="userManagement.lastName">Last Name</label>
        <input type="text" nbInput status="primary" size="small" fullWidth formControlName="lastName" />

        <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('lastName')?.errors?.maxlength"
            jhiTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 50 }"
          >
            This field cannot be longer than 50 characters.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" jhiTranslate="userManagement.email">Email</label>
        <input type="email" nbInput status="primary" size="small" fullWidth
               formControlName="email" />

        <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="editForm.get('email')?.errors?.maxlength"
            jhiTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 100 }"
          >
            This field cannot be longer than 100 characters.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="editForm.get('email')?.errors?.minlength"
            jhiTranslate="entity.validation.minlength"
            [translateValues]="{ min: 5 }"
          >
            This field is required to be at least 5 characters.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="editForm.get('email')?.errors?.email"
            jhiTranslate="global.messages.validate.email.invalid"
          >
            Your email is invalid.
          </small>
        </div>
      </div>

<!--      <div class="form-group">-->
<!--        <label jhiTranslate="userManagement.profiles">Profiles</label>-->
<!--        <select class="form-control" multiple name="authority" formControlName="authorities">-->
<!--          <option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</option>-->
<!--        </select>-->
<!--      </div>-->
    </div>

    <div class="modal-footer justify-content-between">
      <button type="button" mat-raised-button color="accent" (click)="previousState()">
        Fermer
      </button>

      <button type="submit" mat-raised-button color="primary">
        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
      </button>
    </div>
  </form>
</div>


<div *ngIf="!user">
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div class="modal-header justify-content-between">
      <h2 >
        <span>Nouveau utilisateur</span>
      </h2>
      <nb-button-group type="button" *jhiHasAnyAuthority="['STRUCTURE_ADMIN', 'AGENCE_ADMIN']"
                       size="medium">
        <button type="button" nbButtonToggle (click)="setAdmin()"
                value="ADMIN">ADMIN</button>
        <button type="button" nbButtonToggle (click)="setServeur()"
                value="SERVEUR">SERVEUR</button>
        <button type="button" nbButtonToggle (click)="setCaisse()"
                value="CAISSE">CAISSE</button>
      </nb-button-group>
    </div>

    <div class="modal-body" *ngIf="acteur != ''">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="form-control-label">Nom</label>
            <input type="text" nbInput status="primary" style="text-transform:uppercase"
                   fullWidth fieldSize="small" formControlName="nom" />
          </div>
          <div class="form-group">
            <label class="form-control-label">Prenom</label>
            <input type="text" nbInput status="primary" style="text-transform:uppercase"
                   fullWidth fieldSize="small" formControlName="prenom" />
          </div>
          <div class="form-group">
            <label class="form-control-label">Numéro CNIB</label>
            <input type="text" nbInput status="primary" style="text-transform:uppercase"
                   fullWidth fieldSize="small" formControlName="numeroDoc" />
          </div>

        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="form-control-label">Téléphone</label>
            <input type="text" nbInput status="primary" [inputMask]="telephoneInputMask" placeholder="XX-XX-XX-XX"
                   fullWidth fieldSize="small" formControlName="telephone" />
          </div>
          <div class="form-group">
            <label class="form-control-label">Data Naissance</label>
            <div class="input-group">
              <input nbInput status="primary" fullWidth fieldSize="small"
                     [inputMask]="dateInputMask" placeholder="dd/mm/yyyy"
                     formControlName="dataNaissance"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label">Profil</label>
            <div>
              <div [hidden]="true" *ngIf="editForm.get('profil')!.value" class="form-text text-danger clearfix">
                <a
                  class="pull-left" [hidden]="true"
                  (click)="openFile(editForm.get('profil')!.value, editForm.get('profilContentType')!.value)"
                  jhiTranslate="entity.action.open"
                >open</a
                ><br />
                <span [hidden]="true" class="pull-left">{{ editForm.get('profilContentType')!.value }}, {{ byteSize(editForm.get('profil')!.value) }}</span>
                <button
                  type="button"
                  (click)="editForm.patchValue({ profil: null }); editForm.patchValue({ profilContentType: null })"
                  class="btn btn-secondary btn-xs pull-right"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
              <input
                type="file"
                nbInput status="primary" fullWidth fieldSize="small"
                (change)="setFileData($event, 'profil', false)"
                jhiTranslate="entity.action.addblob"
              />
            </div>
            <input type="hidden" hidden nbInput status="primary" fullWidth fieldSize="small" formControlName="profil" />
            <input
              type="hidden" hidden
              nbInput status="primary" fullWidth fieldSize="small"
              formControlName="profilContentType"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="form-control-label">Nom d'utilisateur</label>
            <input type="text" nbInput status="primary" fullWidth fieldSize="small"
                   formControlName="login"/>

            <div *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('login')?.errors?.required"
                jhiTranslate="register.messages.validate.login.required"
              >
                Your username is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('login')?.errors?.minlength"
                jhiTranslate="register.messages.validate.login.minlength"
              >
                Your username is required to be at least 1 character.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('login')?.errors?.maxlength"
                jhiTranslate="register.messages.validate.login.maxlength"
              >
                Your username cannot be longer than 50 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('login')?.errors?.pattern"
                jhiTranslate="register.messages.validate.login.pattern"
              >
                Your username can only contain letters and digits.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label">Email</label>
            <input type="email" nbInput status="primary" fullWidth fieldSize="small" formControlName="email"/>

            <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('email')?.errors?.required"
                jhiTranslate="global.messages.validate.email.required"
              >
                Your email is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('email')?.errors?.invalid"
                jhiTranslate="global.messages.validate.email.invalid"
              >
                Your email is invalid.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('email')?.errors?.minlength"
                jhiTranslate="global.messages.validate.email.minlength"
              >
                Your email is required to be at least 5 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('email')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.email.maxlength"
              >
                Your email cannot be longer than 100 characters.
              </small>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="form-control-label" jhiTranslate="global.form.newpassword.label">New password</label>
            <input type="password" nbInput status="primary" fullWidth fieldSize="small" formControlName="password"/>

            <div
              *ngIf="editForm.get('password')!.invalid && (editForm.get('password')!.dirty || editForm.get('password')!.touched)"
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('password')?.errors?.required"
                jhiTranslate="global.messages.validate.newpassword.required"
              >
                Your password is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('password')?.errors?.minlength"
                jhiTranslate="global.messages.validate.newpassword.minlength"
              >
                Your password is required to be at least 4 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('password')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.newpassword.maxlength"
              >
                Your password cannot be longer than 50 characters.
              </small>
            </div>

            <jhi-password-strength-bar [passwordToCheck]="editForm.get('password')!.value"></jhi-password-strength-bar>
          </div>
          <div class="form-group">
            <label class="form-control-label">Confirmer mot de passe</label>
            <input type="password" nbInput status="primary" fullWidth fieldSize="small" formControlName="confirmPassword"/>

            <div
              *ngIf="
                          editForm.get('confirmPassword')!.invalid &&
                          (editForm.get('confirmPassword')!.dirty || editForm.get('confirmPassword')!.touched)
                        "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('confirmPassword')?.errors?.required"
                jhiTranslate="global.messages.validate.confirmpassword.required"
              >
                Your confirmation password is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('confirmPassword')?.errors?.minlength"
                jhiTranslate="global.messages.validate.confirmpassword.minlength"
              >
                Your confirmation password is required to be at least 4 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('confirmPassword')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.confirmpassword.maxlength"
              >
                Your confirmation password cannot be longer than 50 characters.
              </small>
            </div>
          </div>
        </div>
      </div>

<!--      <div class="form-group">-->
<!--        <label jhiTranslate="userManagement.profiles">Profiles</label>-->
<!--        <select class="form-control" multiple name="authority" formControlName="authorities">-->
<!--          <option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</option>-->
<!--        </select>-->
<!--      </div>-->
    </div>

    <div class="modal-footer justify-content-between">
      <button type="button" mat-raised-button color="accent" (click)="previousState()">
        Fermer
      </button>

      <button type="submit" [disabled]="editForm.invalid || isSaving"
              mat-raised-button color="primary" *ngIf="acteur != ''">
        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
      </button>
    </div>
  </form>
</div>
