<nb-card>
  <nb-card-header>
    <h2 id="page-heading" data-cy="ApprovisionnementHeading">
      <span >Les approvisionnements</span>

      <button nbButton size="small" status="primary" outline (click)="createOrUpdate()"
              class="float-end mr-2 jh-create-entity create-vente">
        <fa-icon icon="plus"></fa-icon>
        <span> Nouvelle approvisionnement </span>
      </button>

      <button class="float-end mr-2" nbButton size="small"
              (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span ></span>
      </button>
    </h2>
  </nb-card-header>
  <nb-card-body>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="card">
      <p-table #dt1 [value]="approvisionnements!" dataKey="id"
               [rows]="10" [showCurrentPageReport]="true"
               styleClass="p-datatable-gridlines p-datatable-sm" [sortField]="'dateCommande'" [sortMode]="'-1'"
               [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [globalFilterFields]="['numero','agenceApp', 'commentaire', 'dateCommande']">
        <ng-template pTemplate="caption">
          <div class="flex">
              <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="search"
                           (input)="dt1.filterGlobal(search, 'startsWith')"
                           placeholder="Recherche ..." />
              </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th ><span >Numéro</span></th>
            <th ><span >Agence </span></th>
            <th ><span >Commentaire</span></th>
            <th ><span >Date commande</span></th>
            <th ></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-approvisionnement>
          <tr>
            <td>{{ approvisionnement.numero }}</td>
            <td>{{ approvisionnement.agenceApp }}</td>
            <td>{{ approvisionnement.commentaire }}</td>
            <td>{{ approvisionnement.dateCommande | formatMediumDatetime }}</td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit" (click)="detailApproviso(approvisionnement)"
                  class="btn btn-info btn-sm">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" ></span>
                </button>

                <button
                  type="submit" (click)="createOrUpdate(approvisionnement)"
                  class="btn btn-primary btn-sm">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" ></span>
                </button>

                <button type="submit" (click)="delete(approvisionnement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline"></span>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">Pas de données trouver.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </nb-card-body>
</nb-card>
