<div>
  <h2 id="page-heading" data-cy="VersementHeading">
    <span jhiTranslate="appPharmaApp.versement.home.title">Versements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appPharmaApp.versement.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-versement"
        [routerLink]="['/versement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appPharmaApp.versement.home.createLabel"> Create a new Versement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="versements?.length === 0">
    <span jhiTranslate="appPharmaApp.versement.home.notFound">No versements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="versements && versements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numero">
            <span jhiTranslate="appPharmaApp.versement.numero">Numero</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="commentaire">
            <span jhiTranslate="appPharmaApp.versement.commentaire">Commentaire</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="montant">
            <span jhiTranslate="appPharmaApp.versement.montant">Montant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="resteAVerser">
            <span jhiTranslate="appPharmaApp.versement.resteAVerser">Reste A Verser</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lieuVersement">
            <span jhiTranslate="appPharmaApp.versement.lieuVersement">Lieu Versement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="referenceVersement">
            <span jhiTranslate="appPharmaApp.versement.referenceVersement">Reference Versement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="identiteReceveur">
            <span jhiTranslate="appPharmaApp.versement.identiteReceveur">Identite Receveur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="operateur.id">
            <span jhiTranslate="appPharmaApp.versement.operateur">Operateur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let versement of versements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/versement', versement.id, 'view']">{{ versement.id }}</a>
          </td>
          <td>{{ versement.numero }}</td>
          <td>{{ versement.commentaire }}</td>
          <td>{{ versement.montant }}</td>
          <td>{{ versement.resteAVerser }}</td>
          <td>{{ versement.lieuVersement }}</td>
          <td>{{ versement.referenceVersement }}</td>
          <td>{{ versement.identiteReceveur }}</td>
          <td>
            <div *ngIf="versement.operateur">
              <a [routerLink]="['/personne', versement.operateur?.id, 'view']">{{ versement.operateur?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/versement', versement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/versement', versement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(versement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="versements && versements.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
