<nb-card>
  <nb-card-header>
    <h2 id="page-heading" data-cy="VersementHeading">
      <span jhiTranslate="appPharmaApp.versement.home.title">Versements</span>

      <button nbButton size="small" status="primary" outline (click)="createOrUpdate()"
              class="float-end mr-2 jh-create-entity create-vente">
        <fa-icon icon="plus"></fa-icon>
        <span> Nouveau versement </span>
      </button>

      <button class="float-end mr-2" nbButton size="small"
              (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span ></span>
      </button>
    </h2>
  </nb-card-header>
  <nb-card-body>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="card">
      <p-table #dt1 [value]="versements!" dataKey="id"
               [rows]="10" [showCurrentPageReport]="true"
               styleClass="p-datatable-gridlines p-datatable-sm" [sortField]="'dateVersement'" [sortMode]="'-1'"
               [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [globalFilterFields]="['numero','lieuVersement', 'referenceVersement', 'dateVersement']">
        <ng-template pTemplate="caption">
          <div class="flex">
              <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="search"
                           (input)="dt1.filterGlobal(search, 'startsWith')"
                           placeholder="Recherche ..." />
              </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th ><span >Lieu versé</span></th>
            <th ><span >Référence </span></th>
            <th ><span >Identite receveur</span></th>
            <th ><span >Montant versé</span></th>
            <th ><span >Reste à verser</span></th>
            <th ><span >Opérateur</span></th>
            <th ><span >Date versement</span></th>
            <th ></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-versement>
          <tr>
            <td>{{ versement.lieuVersement }}</td>
            <td>{{ versement.referenceVersement }}</td>
            <td>{{ versement.identiteReceveur }}</td>
            <td>{{ versement.montant | currency: 'XOF' }}</td>
            <td>{{ versement.resteAVerser | currency: 'XOF' }}</td>
            <td>{{ versement.dateVersement | date: 'medium' }}</td>
            <td>
              <div *ngIf="versement.operateur">
                <a [routerLink]="['/personne', versement.operateur?.id, 'view']">{{ versement.operateur?.id }}</a>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  (click)="detailVersement(versement)"
                  class="btn btn-info btn-sm">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" ></span>
                </button>

                <button
                  type="submit" (click)="createOrUpdate(versement)"
                  class="btn btn-primary btn-sm">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" ></span>
                </button>

                <button type="submit" (click)="delete(versement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" ></span>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">Pas de données trouver.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </nb-card-body>

</nb-card>
