
<div *ngIf="depense">
  <h2 class="modal-header"><span>Depense</span></h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="modal-body">
    <dl class="row-md jh-entity-details">

      <dt><span jhiTranslate="appPharmaApp.depense.numero">Numero</span></dt>
      <dd>
        <span>{{ depense.numero }}</span>
      </dd>
      <dt><span jhiTranslate="appPharmaApp.depense.motifDepense">Motif Depense</span></dt>
      <dd>
        <span>{{ depense.motifDepense }}</span>
      </dd>
      <dt><span jhiTranslate="appPharmaApp.depense.ordonnateur">Ordonnateur</span></dt>
      <dd>
        <span>{{ depense.ordonnateur }}</span>
      </dd>
      <dt><span jhiTranslate="appPharmaApp.depense.justificatif">Justificatif</span></dt>
      <dd>
        <span>{{ depense.justificatif }}</span>
      </dd>
      <dt><span jhiTranslate="appPharmaApp.depense.montant">Montant</span></dt>
      <dd>
        <span>{{ depense.montant | currency: 'XOF' }}</span>
      </dd>
      <dt><span jhiTranslate="appPharmaApp.depense.dateDepense">Date Depense</span></dt>
      <dd>
        <span>{{ depense.dateDepense | formatMediumDatetime }}</span>
      </dd>
    </dl>
  </div>

  <div class="modal-footer justify-content-between">
    <button type="submit" (click)="previousState()" mat-raised-button color="accent">
      <span >Fermer</span>
    </button>
  </div>

<!--  <button type="button" [routerLink]="['/depense', depense.id, 'edit']" class="btn btn-primary">-->
<!--    <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>-->
<!--  </button>-->
</div>
