<div>
  <h2 id="page-heading" data-cy="PersonneHeading">
    <span jhiTranslate="appPharmaApp.personne.home.title">Personnes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appPharmaApp.personne.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-personne"
        [routerLink]="['/personne/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appPharmaApp.personne.home.createLabel"> Create a new Personne </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="personnes?.length === 0">
    <span jhiTranslate="appPharmaApp.personne.home.notFound">No personnes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="personnes && personnes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> </th>
          <th scope="col" jhiSortBy="nom"><span jhiTranslate="appPharmaApp.personne.nom">Nom</span> </th>
          <th scope="col" jhiSortBy="prenom">
            <span jhiTranslate="appPharmaApp.personne.prenom">Prenom</span>
          </th>
          <th scope="col" jhiSortBy="dataNaissance">
            <span jhiTranslate="appPharmaApp.personne.dataNaissance">Data Naissance</span>
          </th>
          <th scope="col" jhiSortBy="lieuNaissance">
            <span jhiTranslate="appPharmaApp.personne.lieuNaissance">Lieu Naissance</span>
          </th>
          <th scope="col" jhiSortBy="numeroDoc">
            <span jhiTranslate="appPharmaApp.personne.numeroDoc">Numero Doc</span>
          </th>
          <th scope="col" jhiSortBy="profil">
            <span jhiTranslate="appPharmaApp.personne.profil">Profil</span>
          </th>
          <th scope="col" jhiSortBy="telephone">
            <span jhiTranslate="appPharmaApp.personne.telephone">Telephone</span>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <span jhiTranslate="appPharmaApp.personne.user">User</span>
          </th>
          <th scope="col" jhiSortBy="structure.id">
            <span jhiTranslate="appPharmaApp.personne.structure">Structure</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personne of personnes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/personne', personne.id, 'view']">{{ personne.id }}</a>
          </td>
          <td>{{ personne.nom }}</td>
          <td>{{ personne.prenom }}</td>
          <td>{{ personne.dataNaissance | formatMediumDate }}</td>
          <td>{{ personne.lieuNaissance }}</td>
          <td>{{ personne.numeroDoc }}</td>
          <td>
            <a *ngIf="personne.profil" (click)="openFile(personne.profil, personne.profilContentType)" jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="personne.profil">{{ personne.profilContentType }}, {{ byteSize(personne.profil) }}</span>
          </td>
          <td>{{ personne.telephone }}</td>
          <td>
            {{ personne.user?.id }}
          </td>
          <td>
            <div *ngIf="personne.structure">
              <a [routerLink]="['/structure', personne.structure?.id, 'view']">{{ personne.structure?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/personne', personne.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/personne', personne.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(personne)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="personnes && personnes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
