<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="venteMedicament">
      <h2 data-cy="venteMedicamentDetailsHeading">
        <span jhiTranslate="appPharmaApp.venteMedicament.detail.title">Vente Medicament</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ venteMedicament.id }}</span>
        </dd>
        <dt><span jhiTranslate="appPharmaApp.venteMedicament.quantite">Quantite</span></dt>
        <dd>
          <span>{{ venteMedicament.quantite }}</span>
        </dd>
        <dt><span jhiTranslate="appPharmaApp.venteMedicament.montant">Montant</span></dt>
        <dd>
          <span>{{ venteMedicament.montant }}</span>
        </dd>
        <dt><span jhiTranslate="appPharmaApp.venteMedicament.medicament">Medicament</span></dt>
        <dd>
          <div *ngIf="venteMedicament.medicament">
            <a [routerLink]="['/medicament', venteMedicament.medicament?.id, 'view']">{{ venteMedicament.medicament?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="appPharmaApp.venteMedicament.vente">Vente</span></dt>
        <dd>
          <div *ngIf="venteMedicament.vente">
            <a [routerLink]="['/vente', venteMedicament.vente?.id, 'view']">{{ venteMedicament.vente?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/vente-medicament', venteMedicament.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
