<!--<jhi-page-ribbon></jhi-page-ribbon>-->

<!--<div>-->
<!--  <router-outlet name="navbar"></router-outlet>-->
<!--</div>-->

<!--<div class="container-fluid">-->
<!--  <div class="card jh-card">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->

<!--  <jhi-footer></jhi-footer>-->
<!--</div>-->

<nb-layout [hidden]="!structure" *ngIf="structure && isAuthenticated()">
  <nb-layout-header>
    <router-outlet name="navbar"></router-outlet>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>

<nb-layout *ngIf="!structure" [hidden]="structure">
  <nb-layout-column>
    <jhi-getstarted></jhi-getstarted>
  </nb-layout-column>
</nb-layout>

<div *ngIf="structure && !isAuthenticated()">
  <jhi-login></jhi-login>
</div>

<nz-layout [hidden]="true"></nz-layout>
