<!--<jhi-page-ribbon></jhi-page-ribbon>-->

<!--<div>-->
<!--  <router-outlet name="navbar"></router-outlet>-->
<!--</div>-->

<!--<div class="container-fluid">-->
<!--  <div class="card jh-card">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->

<!--  <jhi-footer></jhi-footer>-->
<!--</div>-->

<nb-layout windowMode>
  <nb-layout-header *ngIf="structure && isAuthenticated()">
    <router-outlet name="navbar"></router-outlet>
  </nb-layout-header>
  <nb-sidebar *jhiHasAnyAuthority="['AGENCE_ADMIN', 'STRUCTURE_ADMIN']">
    <jhi-pages></jhi-pages>
  </nb-sidebar>
  <nb-layout-column *ngIf="!structure && !isAuthenticated()">
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-column *ngIf="structure && !isAuthenticated()">
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-column *ngIf="structure && isAuthenticated()">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>

<nz-layout [hidden]="true"></nz-layout>
