<div>
  <h2 id="page-heading" data-cy="TypePackHeading">
    <span jhiTranslate="appPharmaApp.typePack.home.title">Type Packs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appPharmaApp.typePack.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-type-pack"
        [routerLink]="['/type-pack/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appPharmaApp.typePack.home.createLabel"> Create a new Type Pack </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="typePacks?.length === 0">
    <span jhiTranslate="appPharmaApp.typePack.home.notFound">No typePacks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="typePacks && typePacks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> </th>
          <th scope="col" jhiSortBy="libelle">
            <span jhiTranslate="appPharmaApp.typePack.libelle">Libelle</span>
          </th>
          <th scope="col" jhiSortBy="durer">
            <span jhiTranslate="appPharmaApp.typePack.durer">Durer</span>
          </th>
          <th scope="col" jhiSortBy="prix"><span jhiTranslate="appPharmaApp.typePack.prix">Prix</span> </th>
          <th scope="col" jhiSortBy="annexe">
            <span jhiTranslate="appPharmaApp.typePack.annexe">Annexe</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let typePack of typePacks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/type-pack', typePack.id, 'view']">{{ typePack.id }}</a>
          </td>
          <td>{{ typePack.libelle }}</td>
          <td>{{ typePack.durer }}</td>
          <td>{{ typePack.prix }}</td>
          <td>{{ typePack.annexe }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/type-pack', typePack.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/type-pack', typePack.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(typePack)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="typePacks && typePacks.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
