<div>
  <nb-card>
    <nb-card-header>
      <h2>
        <span id="user-management-page-heading">Les Utilisateurs</span>

        <button class="float-right" nbButton size="small" status="primary"
                (click)="createOrUpdateUser()">
          <fa-icon icon="plus"></fa-icon> <span >
            Créer nouveau
          </span>
        </button>
        <button class="float-right mx-2" nbButton size="small" outline (click)="loadAll()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span ></span>
        </button>

      </h2>
    </nb-card-header>
    <nb-card-body>
      <div class="card">

        <p-table #dt1 [value]="users!" dataKey="id"
                 [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                 styleClass="p-datatable-gridlines p-datatable-sm" [sortField]="'createdDate'" [sortMode]="'-1'"
                 [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [globalFilterFields]="['firstName','lastName','login','createdDate', 'lastModifiedBy', 'authorities']">
          <ng-template pTemplate="caption">
            <div class="flex">

              <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="search"
                           (input)="dt1.filterGlobal(search, 'startsWith')"
                           placeholder="Recherche ..." />
                </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Nom et prénom</th>
              <th>Login</th>
              <th>Email</th>
              <th>Etat</th>
              <th>Profiles</th>
              <th>Créer le</th>
              <th>Modifier par</th>
              <th style="width: 4rem"> </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{ user.firstName + ' ' + user.lastName }}</td>
              <td>{{ user.login }}</td>
              <td>{{ user.email }}</td>
              <td>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="setActive(user, true)"
                  *ngIf="!user.activated"
                  jhiTranslate="userManagement.deactivated"
                >
                  Deactivated
                </button>
                <button
                  class="btn btn-success btn-sm"
                  (click)="setActive(user, false)"
                  *ngIf="user.activated"
                  [disabled]="!currentAccount || currentAccount.login === user.login"
                  jhiTranslate="userManagement.activated"
                >
                  Activated
                </button>
              </td>
              <td>
                <div *ngFor="let authority of user.authorities">
                  <span class="badge badge-info">{{ authority }}</span>
                </div>
              </td>
              <td>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
              <td>{{ user.lastModifiedBy }}</td>
              <td class="text-right">
                <div class="btn-group">
                  <button type="submit" (click)="detailsUser(user)" class="btn btn-info btn-sm">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline"></span>
                  </button>

                  <button type="submit" (click)="createOrUpdateUser(user)"
                          queryParamsHandling="merge" class="btn btn-primary btn-sm">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline"></span>
                  </button>

                  <button
                    type="button"
                    (click)="deleteUser(user)"
                    class="btn btn-danger btn-sm"
                    [disabled]="!currentAccount || currentAccount.login === user.login">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline"></span>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">Pas de données trouver.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </nb-card-body>
  </nb-card>
</div>
