<nb-card>
  <nb-card-header>
    <h2 id="page-heading" data-cy="CommandeHeading">
      <span >Les commandes</span>

      <button nbButton size="small" status="primary" outline routerLink="/commande/new"
              class="float-end mr-2 jh-create-entity create-vente">
        <fa-icon icon="plus"></fa-icon>
        <span> Nouvelle Commande </span>
      </button>

      <button class="float-end mr-2" nbButton size="small"
              (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span ></span>
      </button>
    </h2>
  </nb-card-header>
  <nb-card-body>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="commandes?.length === 0">
      <span jhiTranslate="appPharmaApp.commande.home.notFound">No commandes found</span>
    </div>

    <div class="card">
      <p-table #dt1 [value]="commandes!" dataKey="id"
               [rows]="10" [showCurrentPageReport]="true"
               styleClass="p-datatable-gridlines p-datatable-sm" [sortField]="'dateCommande'" [sortMode]="'-1'"
               [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [globalFilterFields]="['numero', 'fournisseur.libelle', 'dateCommande']">
        <ng-template pTemplate="caption">
          <div class="flex">
              <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="search"
                           (input)="dt1.filterGlobal(search, 'startsWith')"
                           placeholder="Recherche ..." />
              </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th ><span >Numéro</span></th>
            <th ><span >Date commande</span></th>
            <th><span >Fournisseur</span></th>
            <th ><span >Opérateur</span></th>
            <th ></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-commande>
          <tr>
            <td>{{ commande.numero }}</td>
            <td>{{ commande.dateCommande | formatMediumDatetime }}</td>

            <td>
              <div *ngIf="commande.fournisseur">
                <a [routerLink]="['/fournisseur', commande.fournisseur?.id, 'view']">{{ commande.fournisseur?.id }}</a>
              </div>
            </td>
            <td>
              <div *ngIf="commande.operateur">
                <a [routerLink]="['/personne', commande.operateur?.id, 'view']">{{ commande.operateur?.id }}</a>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit" (click)="detailApproviso(commande)"
                  class="btn btn-info btn-sm">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" ></span>
                </button>

                <button
                  type="submit" (click)="createOrUpdate(commande)"
                  class="btn btn-primary btn-sm">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" ></span>
                </button>

                <button type="submit" (click)="delete(commande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline"></span>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">Pas de données trouver.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </nb-card-body>
</nb-card>
