<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="notification">
      <h2 data-cy="notificationDetailsHeading"><span jhiTranslate="appPharmaApp.notification.detail.title">Notification</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ notification.id }}</span>
        </dd>
        <dt><span jhiTranslate="appPharmaApp.notification.titre">Titre</span></dt>
        <dd>
          <span>{{ notification.titre }}</span>
        </dd>
        <dt><span jhiTranslate="appPharmaApp.notification.content">Content</span></dt>
        <dd>
          <span>{{ notification.content }}</span>
        </dd>
        <dt><span jhiTranslate="appPharmaApp.notification.dateNotif">Date Notif</span></dt>
        <dd>
          <span>{{ notification.dateNotif | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="appPharmaApp.notification.vue">Vue</span></dt>
        <dd>
          <span>{{ notification.vue }}</span>
        </dd>
        <dt><span jhiTranslate="appPharmaApp.notification.operateur">Operateur</span></dt>
        <dd>
          <div *ngIf="notification.operateur">
            <a [routerLink]="['/personne', notification.operateur?.id, 'view']">{{ notification.operateur?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/notification', notification.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
