@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../content/scss/themes';

/* ==========================================================================
Navbar
========================================================================== */

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0!important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}

::ng-deep {
  .mobileIcon {
    display: none;
  }

  @media screen and (min-width: 0px) and (max-width: 786px) {
    .mobileIcon {
      display: block;
    }
    .deskIcon {
      display: none;
    }
  }

  .dropdown-toggle::after {
    display:none;
  }

  @media (max-width: 339px) {
    .responsive-navbar.navbar .navbar-collapse {
      padding-left: 0rem;
    }
  }
  .dark-theme {
    .main-profile-menu .dropdown-item:hover,
    .main-profile-menu .dropdown-item:focus {
      background-color: #3f3f58 !important;
    }
    .flag-dropdown .dropdown-item {
      color: #eee !important;
    }
  }
}

.notification-width{
  width: 300px;
}


.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

:host nb-layout-header ::ng-deep nav {
  justify-content: flex-end;
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}
