<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <h2 class="modal-header">
    Paiement   de   {{vente!.montant | currency: 'XOF'}}
  </h2>

  <div class="modal-body">

<!--    <div class="form-group" [hidden]="editForm.get('id')!.value == null">-->
<!--      <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>-->
<!--      <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />-->
<!--    </div>-->

    <div class="form-group">
      <label class="form-control-label">Somme Reçue</label>
      <input type="number" nbInput fullWidth fieldSize="small" status="primary"
             (input)="avoir = sommeRecu - vente!.montant! - sommeDonner"
             formControlName="sommeRecu" [(ngModel)]="sommeRecu"/>
    </div>

    <div class="form-group">
      <label class="form-control-label">Monaie Donnée</label>
      <input type="number" nbInput fullWidth fieldSize="small" status="primary"
             (input)="avoir = sommeRecu - vente!.montant! - sommeDonner"
        formControlName="sommeDonner" [(ngModel)]="sommeDonner"/>
    </div>

    <div class="form-group">
      <label class="form-control-label clo-md-6">Avoir</label>
      <label class="col-md-6">{{avoir}}</label>
    </div>

  </div>

  <div class="modal-footer justify-content-between">
    <button type="button" mat-raised-button color="accent"
            (click)="previousState()"><span >Fermer</span>
    </button>

    <button mat-raised-button color="primary" *ngIf="sommeRecu > 0"
      type="submit" [disabled]="avoir < 0 || sommeRecu < vente!.montant! || sommeRecu < sommeDonner">
      <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
    </button>
  </div>
</form>
