<nb-card>
  <nb-card-header>
    <h2 id="page-heading" data-cy="LieuVersementHeading">
      <span >Lieux de versements</span>

      <button nbButton status="primary" size="small" outline (click)="createOrUpdate()"
              class="float-right mr-2 jh-create-entity create-fournisseur">
        <fa-icon icon="plus"></fa-icon>
        <span > Ajouter nouveau </span>
      </button>

      <button class="float-right mr-2" nbButton size="small"
              (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span ></span>
      </button>
    </h2>
  </nb-card-header>
  <nb-card-body>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="lieuVersements?.length === 0">
      <span jhiTranslate="appPharmaApp.lieuVersement.home.notFound">No lieuVersements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="lieuVersements && lieuVersements.length > 0">
      <table class="table table-striped table-hover table-bordered table-sm" aria-describedby="page-heading">
        <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="libelle">
            <span jhiTranslate="appPharmaApp.lieuVersement.libelle">Libelle</span>
          </th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let lieuVersement of lieuVersements; trackBy: trackId" data-cy="entityTable">
          <td>{{ lieuVersement.libelle }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/lieu-versement', lieuVersement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" ></span>
              </button>

              <button
                type="submit"
                (click)="createOrUpdate(lieuVersement)"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" ></span>
              </button>

              <button type="submit" (click)="delete(lieuVersement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div *ngIf="lieuVersements && lieuVersements.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
