/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
    background-size: contain;
  }
}

.global-search-item {
  display: flex;
}

.global-search-item-desc {
  flex: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}

.global-search-item-count {
  flex: none;
}
.center-screen {
  //margin: 30px auto;
  //display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(132, 217, 179);
  background: linear-gradient(160deg, rgb(236, 147, 161) 0%, rgb(229, 241, 212) 24%, rgb(215, 226, 175) 40%, rgb(141, 191, 149) 48%, rgba(69,129,147,1) 64%, rgba(195,165,107,1) 83%, rgba(139,198,68,1) 91%, rgba(252,176,69,1) 100%);
  min-height: 85vh;
}

.certain-search-item-count {
  position: absolute;
  color: #999;
  right: 16px;
}

.more-link {
  float: right;
}

.cardh {
  //margin: 30px auto;
  width: 260px;
  height: 120px;
  border-radius: 10px;
  box-shadow: 3px 3px 15px 4px rgba(0, 0, 0, 0.25), -3px -3px 15px 4px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.cardh .card_image {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

.cardh .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  object-fit: cover;
}

.cardh .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  margin-top: -40px;
  height: 40px;
}

.cardh:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.25), -3px -3px 15px 5px rgba(0, 0, 0, 0.22);
  width: 300px;
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 300px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.taille-heigth{
  min-height: 600px;
  background-color: #c9d0cf;
}
.selet{
  width: 100%;
  max-width: 600px;
}
