<div class="container-fluid">
  <div>
    <div *jhiHasAnyAuthority="['STRUCTURE_CAISSE', 'AGENCE_CAISSE']">
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col [nzSpan]="19">
          <nb-card size="medium">
            <nb-card-header>
              <h3>Les prescriptions en attente</h3>
            </nb-card-header>
            <nb-card-body>
              <div class="card col-12 item-card" *ngFor="let vente of ventes">
                <div class="row" (click)="openPaiement(vente)">
                  <div class="col-md-4">
                    <h6>{{vente.montant | currency: 'XOF'}}</h6>
                    <label>Il y'a {{vente.dateVente | dateAgo}}</label>
                  </div>
                  <div class="col-md-8">
                    <nz-list nzBordered nzHeader="Médicaments">
                      <nz-list-item *ngFor="let medi of vente.medicament">
                        <span nz-typography><mark>{{medi.stockTheorique}}</mark></span>
                        {{ medi.dci }}
                      </nz-list-item>
                    </nz-list>
                  </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>

        <div nz-col [nzSpan]="5">
          <div class="form-group">
            <div class="cardh" (click)="createDepense()">
              <div class="card_image">
                <!--                  <img src="../../content/images/dep.png" />-->
              </div>
              <div class="card_title title-white">
                <span>Dépenses</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="cardh">
              <div class="card_image">
                <!--                  <img src="../../content/images/vers.png" />-->
              </div>
              <div class="card_title title-white">
                <span>Versement</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="cardh">
              <div class="card_image">
                <!--                  <img src="https://i.redd.it/b3esnz5ra34y.jpg" />-->
              </div>
              <div class="card_title title-white">
                <span>Rapports</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xl-3 mb-4">
          <div class="card shadow border-start-primary py-2">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-success fw-bold text-lg mb-1"><span>Recette journalière</span></div>
                  <div class="text-dark fw-bold h3 mb-0 mt-5"><span>{{45000 | currency: 'XOF'}}</span></div>
                </div>
                <div class="col-auto"><i class="fas fa-calendar fa-4x text-gray-300"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
          <div class="card shadow border-start-success py-2">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-success fw-bold text-lg mb-1"><span>Dépense journalier</span></div>
                  <div class="text-dark fw-bold h3 mb-0 mt-5"><span>{{215000 | currency: 'XOF'}}</span></div>
                </div>
                <div class="col-auto"><i class="fas fa-dollar-sign fa-4x text-gray-300"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
          <div class="card shadow border-start-success py-2">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-success fw-bold text-lg mb-1"><span>Net versement</span></div>
                  <div class="text-dark fw-bold h3 mb-0 mt-5"><span>{{215000 | currency: 'XOF'}}</span></div>
                </div>
                <div class="col-auto"><i class="fas fa-dollar-sign fa-4x text-gray-300"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
          <div class="card shadow border-start-success py-2">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-success fw-bold text-lg mb-1"><span>Net en caisse</span></div>
                  <div class="text-dark fw-bold h3 mb-0 mt-5"><span>{{215000 | currency: 'XOF'}}</span></div>
                </div>
                <div class="col-auto"><i class="fas fa-dollar-sign fa-4x text-gray-300"></i></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container-fluid center-screen" *jhiHasAnyAuthority="['SERVEUR']">
      <div class="justify-content-center" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" [nzSpan]="14">
          <nb-card>
            <nb-card-body>
              <nb-form-field>
                <input placeholder="Rechercher un produit..." nbInput fullWidth
                  fieldSize="medium" status="primary" shape="rectangle" #input [nbAutocomplete]="auto" (input)="onChange()"/>
                <button nbSuffix nbButton ghost size="medium">
                  <nb-icon [icon]="'search-outline'" pack="eva"> </nb-icon>
                </button>
              </nb-form-field>

              <nb-autocomplete #auto class="ui-autocomplete" (selectedChange)="onSelectionChange($event)">
                <nb-option *ngFor="let med of filteredMedicament | async" [value]="med">
                  {{ med.dci + ' ' + med.forme + ' ' + med.dosage }}
                </nb-option>
              </nb-autocomplete>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
      <div class="justify-content-center" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" *ngIf="medicamentList.length > 0">
        <div nz-col class="gutter-row" [nzSpan]="22">
          <nb-card size="medium">
            <nb-card-body>
              <nz-list>
                <nz-list-item *ngFor="let medi of medicamentList">
                  <nz-list-item-meta
                    [nzDescription]="medi.dci!.toLowerCase() + ' ' + medi.forme!.toLowerCase() + ' ' + medi.dosage! + ' ' + medi.classe!"
                  >
                  </nz-list-item-meta>

                  <ul nz-list-item-actions>
                    <nz-list-item-action>
                      <label>
                        {{ medi.prixPublic! | currency: 'XOF' }}
                      </label>
                    </nz-list-item-action>
                    <nz-list-item-action>
                      <p-inputNumber
                        [(ngModel)]="medi.stockTheorique!"
                        [showButtons]="true"
                        buttonLayout="horizontal"
                        spinnerMode="horizontal"
                        [size]="2"
                        (onInput)="medi.stockTheorique = $event.value"
                        (onBlur)="getQuantite()"
                        class="p-inputtext-sm"
                        decrementButtonClass="p-button-danger p-button-sm"
                        incrementButtonClass="p-button-success p-button-sm"
                        incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus"></p-inputNumber>
                    </nz-list-item-action>
                    <nz-list-item-action>
                      <button nbButton size="small" (click)="remove(medi)" shape="rectangle">
                        <nb-icon icon="trash"></nb-icon>
                      </button>
                    </nz-list-item-action>
                  </ul>
                </nz-list-item>
              </nz-list>
            </nb-card-body>
            <nb-card-footer *ngIf="medicamentList.length > 0">
              <div class="row justify-content-between">
                <div class="col-md-6">
                  <li class="list-group-item text-right">
                    <span class="float-left"><strong>Montant à payer</strong></span> {{ prixTotal | currency: 'XOF' }}
                  </li>
                </div>
                <div class="col-md-4">
                  <div class="row justify-content-end">
                    <button type="button" nbButton status="primary" size="medium" (click)="validerVente()">Valider</button>
                  </div>
                </div>
              </div>
            </nb-card-footer>
          </nb-card>
        </div>
      </div>
    </div>

    <div class="row" *jhiHasAnyAuthority="['AGENCE_ADMIN', 'STRUCTURE_ADMIN']">

    </div>
  </div>
</div>
