<div class="container-fluid">
  <div>
    <div  *jhiHasAnyAuthority="['STRUCTURE_CAISSE', 'AGENCE_CAISSE']">
      <div >
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col [nzSpan]="19">
            <nb-card size="large">
              <nb-card-header>
                <h3>Les prescriptions en attente</h3>
              </nb-card-header>
              <nb-card-body>

              </nb-card-body>
            </nb-card>

          </div>

          <div nz-col [nzSpan]="5">
            <div class="form-group">
              <div class="cardh">
                <div class="card_image">
                  <img src="https://i.redd.it/b3esnz5ra34y.jpg" />
                </div>
                <div class="card_title title-white">
                  <span>Depenses</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="cardh">
                <div class="card_image">
                  <img src="https://i.redd.it/b3esnz5ra34y.jpg" />
                </div>
                <div class="card_title title-white">
                  <span>Versement</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="cardh">
                <div class="card_image">
                  <img src="https://i.redd.it/b3esnz5ra34y.jpg" />
                </div>
                <div class="card_title title-white">
                  <span>Rapports</span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row justify-content-between">

        </div>
      </div>

    </div>

    <div class="container-fluid" *jhiHasAnyAuthority="['SERVEUR', 'STRUCTURE_ADMIN']">
      <div class="row justify-content-center center-screen" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" [nzSpan]="12">
          <nb-card>
            <nb-card-body>
              <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixIconButton">
                <nz-select nzShowSearch nzAllowClear class="selet" nzSize="large"
                           [nzNotFoundContent]="'Aucun resultat'" [nzAutoFocus]="true"
                           [nzShowArrow]="false" (ngModelChange)="getSelectedMedicament($event)"
                           nzPlaceHolder="Rechercher ..." [(ngModel)]="medicamentSelect">
                  <nz-option *ngFor="let medic of medicaments" [nzValue]="medic"
                             [nzLabel]="medic.dci + ' ' + medic.dosage" ></nz-option>
                </nz-select>
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSize="large" nzSearch>
                  <i nz-icon nzType="search" nzTheme="outline"></i>
                </button>
              </ng-template>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" *ngIf="medicamentList">
        <div nz-col class="gutter-row" [nzSpan]="12">
          <nb-card>
            <nb-card-body>

            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>

    <div class="container-fluid" *ngIf="!isAuthenticated()">
      <div class="row justify-content-center center-screen">
        <button type="button" class="cardh" (click)="login()">
          <div class="card_image">
            <img src="https://i.redd.it/b3esnz5ra34y.jpg" />
          </div>
          <div class="card_title title-white">
            <span>Se Connecter</span>
          </div>
        </button>
      </div>
    </div>

    <div class="row" *jhiHasAnyAuthority="['STRUCTURE_ADMIN', 'AGENCE_ADMIN']"></div>
  </div>
</div>
