<div class="container-fluid">
  <div class="col-md-12">
    <div class="row" *jhiHasAnyAuthority="['STRUCTURE_CAISSE', 'AGENCE_CAISSE']">
      <div class="col-md-3">
        <div class="card">
          <div class="card_image">
            <img src="https://i.redd.it/b3esnz5ra34y.jpg" />
          </div>
          <div class="card_title title-white">
            <span>Recouvrement</span>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card_image">
            <img src="https://i.redd.it/b3esnz5ra34y.jpg" />
          </div>
          <div class="card_title title-white">
            <span>Depenses</span>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card_image">
            <img src="https://i.redd.it/b3esnz5ra34y.jpg" />
          </div>
          <div class="card_title title-white">
            <span>Versement</span>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card_image">
            <img src="https://i.redd.it/b3esnz5ra34y.jpg" />
          </div>
          <div class="card_title title-white">
            <span>Rapports</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *jhiHasAnyAuthority="['SERVEUR']"></div>

    <div class="row" *jhiHasAnyAuthority="['STRUCTURE_ADMIN', 'AGENCE_ADMIN']"></div>
  </div>
</div>
