<div>
  <h2 id="page-heading" data-cy="MessageHeading">
    <span jhiTranslate="appPharmaApp.message.home.title">Messages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appPharmaApp.message.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-message"
        [routerLink]="['/message/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appPharmaApp.message.home.createLabel"> Create a new Message </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="messages?.length === 0">
    <span jhiTranslate="appPharmaApp.message.home.notFound">No messages found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="messages && messages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> </th>
          <th scope="col" jhiSortBy="message">
            <span jhiTranslate="appPharmaApp.message.message">Message</span>
          </th>
          <th scope="col" jhiSortBy="dateMessage">
            <span jhiTranslate="appPharmaApp.message.dateMessage">Date Message</span>
          </th>
          <th scope="col" jhiSortBy="to"><span jhiTranslate="appPharmaApp.message.to">To</span> </th>
          <th scope="col" jhiSortBy="vue"><span jhiTranslate="appPharmaApp.message.vue">Vue</span> </th>
          <th scope="col" jhiSortBy="from.id">
            <span jhiTranslate="appPharmaApp.message.from">From</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of messages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/message', message.id, 'view']">{{ message.id }}</a>
          </td>
          <td>{{ message.message }}</td>
          <td>{{ message.dateMessage | formatMediumDatetime }}</td>
          <td>{{ message.to }}</td>
          <td>{{ message.vue }}</td>
          <td>
            <div *ngIf="message.from">
              <a [routerLink]="['/personne', message.from?.id, 'view']">{{ message.from?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/message', message.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/message', message.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(message)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="messages && messages.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
