.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(161, 121, 189);
  background: linear-gradient(
    160deg,
    rgba(161, 121, 189, 1) 0%,
    rgba(94, 117, 200, 1) 24%,
    rgba(80, 171, 90, 1) 40%,
    rgba(56, 186, 79, 1) 48%,
    rgba(69, 129, 147, 1) 64%,
    rgba(195, 165, 107, 1) 83%,
    rgba(139, 198, 68, 1) 91%,
    rgba(252, 176, 69, 1) 100%
  );
  min-height: 100vh;
}
.center-div-deux {
  display: flex;
  text-align: start;
}

.title-bien {
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
}
.sous-title {
  font-size: 20px;
  color: #ffffff;
}
.dbtn {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  padding: 12px;
}

.full-width {
  width: 100%;
}
.case-deux {
  width: 500px;
}

::ng-deep .cdk-overlay-container {
  position: fixed;
  z-index: 99999;
}

.modal-backdrop {
  background-color: transparent !important;
}

::ng-deep .myCustomModalClass .modal-dialog {
  max-width: 0;
}

