<div>
  <nb-card>
    <nb-card-header>
      <h2 id="page-heading" data-cy="MedicamentHeading">
        <span jhiTranslate="appPharmaApp.medicament.home.title">Medicaments</span>

        <button nbButton size="small" status="success"
          class="float-right" (click)="isModal = true">
          <fa-icon icon="plus"></fa-icon>
          <span > Charger un fichier </span>
        </button>
        <button nbButton size="small" status="primary"
          class="float-right jh-create-entity create-medicament mr-2" [routerLink]="['/medicament/new']">
          <fa-icon icon="plus"></fa-icon>
          <span > Ajouter nouveau </span>
        </button>

        <button nbButton size="small" class="float-right mr-2" (click)="loadPage()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span></span>
        </button>
      </h2>
    </nb-card-header>
    <nb-card-body>
      <div class="card">
        <p-table #dt1 [value]="medicaments!" dataKey="id"
                 [rows]="10" [showCurrentPageReport]="true"
                 styleClass="p-datatable-gridlines p-datatable-sm" [sortField]="'denomination'" [sortMode]="'1'"
                 [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [globalFilterFields]="['denomination','dci','forme','dosage', 'classe', 'dateExpiration']">
          <ng-template pTemplate="caption">
            <div class="flex">

              <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="search"
                           (input)="dt1.filterGlobal(search, 'startsWith')"
                           placeholder="Recherche ..." />
                </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>DCI</th>
              <th>Forme</th>
              <th>Dosage</th>
              <th>Prix achat</th>
              <th>Prix public</th>
              <th>Stock disponible</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-medicament>
            <tr>
              <td>{{ medicament.dci }}</td>
              <td>{{ medicament.forme }}</td>
              <td>{{ medicament.dosage }}</td>
              <td>{{ medicament.prixAchat }}</td>
              <td>{{ medicament.prixPublic }}</td>
              <td>{{ medicament.stockTheorique }}</td>
              <td class="text-right">
                <div class="btn-group">
                  <button type="submit"
                    [routerLink]="['/medicament', medicament.id, 'view']" class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"><fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline"></span>
                  </button>

                  <button type="submit"
                    [routerLink]="['/medicament', medicament.id, 'edit']"
                    class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline"></span>
                  </button>

                  <button type="submit" (click)="delete(medicament)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline"></span>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">Pas de données trouver.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </nb-card-body>
  </nb-card>
</div>


<nz-modal [nzClosable]="false" nzWidth="480px"
          nzTitle="Veuillez selectionner le fichier!" [(nzVisible)]="isModal">
  <div class="col-12" *nzModalContent>
    <div class="clearfix">
      <nz-upload nzFileType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                 [(nzFileList)]="defaultFileList">
        <button nz-button nzType="default">
          <i nz-icon nzType="upload"></i>
          Choisir le fichier
        </button>
      </nz-upload>
    </div>
  </div>
  <div *nzModalFooter class="row justify-content-between">
    <button mat-raised-button color="accent" (click)="close()">Fermer</button>
    <button mat-raised-button color="primary" (click)="uploadFile()"
            *ngIf="defaultFileList.length > 0">Valider</button>
  </div>
</nz-modal>

