

<div *ngIf="versement">
  <h2 class="modal-header"><span>Versement</span></h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <div class="modal-body">
    <dl class="row-md jh-entity-details">
      <div class="row">
        <div class="col-md-6">
          <dt><span jhiTranslate="appPharmaApp.versement.numero">Numero</span></dt>
          <dd>
            <span>{{ versement.numero }}</span>
          </dd>
          <dt><span jhiTranslate="appPharmaApp.versement.montant">Montant</span></dt>
          <dd>
            <span>{{ versement.montant }}</span>
          </dd>
          <dt><span jhiTranslate="appPharmaApp.versement.resteAVerser">Reste A Verser</span></dt>
          <dd>
            <span>{{ versement.resteAVerser }}</span>
          </dd>
          <dt><span jhiTranslate="appPharmaApp.versement.lieuVersement">Lieu Versement</span></dt>
          <dd>
            <span>{{ versement.lieuVersement }}</span>
          </dd>
        </div>
        <div class="col-md-6">

          <dt><span jhiTranslate="appPharmaApp.versement.referenceVersement">Reference Versement</span></dt>
          <dd>
            <span>{{ versement.referenceVersement }}</span>
          </dd>
          <dt><span jhiTranslate="appPharmaApp.versement.identiteReceveur">Identite Receveur</span></dt>
          <dd>
            <span>{{ versement.identiteReceveur }}</span>
          </dd>
          <dt><span jhiTranslate="appPharmaApp.versement.dateVersement">Date Versement</span></dt>
          <dd>
            <span>{{ versement.dateVersement | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="appPharmaApp.versement.operateur">Operateur</span></dt>
          <dd>
            <div *ngIf="versement.operateur">
              <a [routerLink]="['/personne', versement.operateur?.id, 'view']">{{ versement.operateur?.id }}</a>
            </div>
          </dd>
        </div>
      </div>
      <dt><span jhiTranslate="appPharmaApp.versement.commentaire">Commentaire</span></dt>
      <dd>
        <span>{{ versement.commentaire }}</span>
      </dd>
    </dl>
  </div>


  <div class="modal-footer justify-content-between">
    <button type="submit" (click)="previousState()" mat-raised-button color="accent">
      <span >Fermer</span>
    </button>

<!--    <button type="button" [routerLink]="['/versement', versement.id, 'edit']" class="btn btn-primary">-->
<!--      <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>-->
<!--    </button>-->
  </div>

</div>
